// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Tailwind
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

 h1 {
  color: #212529; 
  font-family: 'Raleway',sans-serif; 
  font-size: 50px; font-weight: 800; 
  line-height: 72px; margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase; 
 }


 h2 { 
  color: #212529; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  line-height: 36px;
  margin: 0 0 24px; 
  text-align: center; 
}


 p { 
  color:#212529; 
  font-family: 'Raleway',sans-serif; 
  font-size: 12px; 
  font-weight: 500; 
  line-height: 32px; 
}


 a { 
  color: #212529; 
  text-decoration: underline; 
}


 a:hover { 
  color: #212529; 
  text-decoration: underline; 
}

.error-text{
  color: rgba(127, 29, 29);
  font-size: 0.8rem;
}

.shadow-div{
  padding: 1.5rem;
  margin: 1rem 0rem;
}

.shadow-div:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.05;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.less-shadow-div{
  padding: 1rem 1.5rem;
  margin: 1rem 0rem;
}

.less-shadow-div:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.circleButton{
  position: relative;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  border-width: 1px;
  border-color: transparent;
  border-radius: 9999px;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.circleButton:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}

.circleButton:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;

  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);

  --tw-ring-offset-width: 2px;
  box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color), var(--ring-shadow);

  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}

.basicButton{
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.375rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--tw-bg-opacity));


}

.basicButton:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}

.basicButton:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;

  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);

  --tw-ring-offset-width: 2px;
  box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color), var(--ring-shadow);

  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}

//Modal CSS

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 350px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header{
  align-items: center;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  background-color: grey;
  
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}


 .modal-enter .modal-container,
 .modal-leave-active .modal-container {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);     
}




